/* Scss Document */

/* line 5, shelleyStyles.scss */

* {
  margin: 0;
  padding: 0;
}

/* line 9, shelleyStyles.scss */

html {
  height: 100%;
}

/* line 13, shelleyStyles.scss */

.clear {
  display: block;
  clear: both;
}

/* line 18, shelleyStyles.scss */

body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Playfair Display', serif;
}

/* line 26, shelleyStyles.scss */

#wrap {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
 -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
}

/* line 33, shelleyStyles.scss */

section,
div,
p,
a,
span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, shelleyStyles.scss */

.side {
  display: block;
  min-height: 100%;
  padding: 3% 0;
  float: left;
}

/* line 44, shelleyStyles.scss */

.side a,
.side svg {
  color: #C59000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  outline: 0;
  border: 0;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 56, shelleyStyles.scss */

.side a.round,
.side svg.round {
  display: block;
  margin: 6% auto !important;
  border-radius: 25px;
  border: 1px solid rgba(172, 135, 35, 0.4) !important;
  color: #201712;
  font-family: 'Lato', sans-serif !important;
  font-size: 13px !important;
}

/* line 65, shelleyStyles.scss */

.side a.round:hover,
.side svg.round:hover {
  background: #201712 !important;
  color: #ffffff;
}

/* line 71, shelleyStyles.scss */

.side a:hover {
  color: #201712;
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 76, shelleyStyles.scss */

.side#header {
  width: 25%;
  border-right: 1px solid #dad9d9;
  text-align: center;
}

/* line 81, shelleyStyles.scss */

.side#header a {
  display: block;
  width: 84%;
  margin: 0 auto;
}

/* line 86, shelleyStyles.scss */

.side#header a img {
  width: 100%;
}

/* line 91, shelleyStyles.scss */

.side#header a.shelley {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 9%;
}

/* line 97, shelleyStyles.scss */

.side#header a.shelley img {
  width: 100%;
}

/* line 102, shelleyStyles.scss */

.side#header #foo ul {
  margin-top: 7%;
}

/* line 105, shelleyStyles.scss */

.side#header #foo ul li a {
  border-bottom: 1px solid #e5e4e4;
  padding: 18px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: 'Playfair Display SC', serif;
  font-size: 18px;
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.side#header #foo ul li a img {
  width: initial;
  height: initial;
  max-width: 100%;
}

/* line 115, shelleyStyles.scss */

.side#header #foo ul li a.noBorder {
  border: none;
}

/* line 119, shelleyStyles.scss */

.side#header #foo ul li a.social {
  width: 30px;
  border: none;
  display: inline;
  height: 30px;
}

/* line 126, shelleyStyles.scss */

.side#header #foo ul li a.social svg {
  fill: #ccc;
  width: 30px;
  height: 30px;
}

/* line 131, shelleyStyles.scss */

.side#header #foo ul li a.social svg:hover {
  fill: #201712;
}

/* line 137, shelleyStyles.scss */

.side#header #foo ul li a:hover {
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 143, shelleyStyles.scss */

.side#right {
  width: 75%;
  border-left: 1px solid #DAD9D9;
  margin-left: -1px;
}

/* line 148, shelleyStyles.scss */

.side#right.grid {
  padding: 0.3%;
}

/* line 152, shelleyStyles.scss */

.side#right.grid div {
  display: table;
  float: left;
  width: 32.5%;
  height: 23.5vw;
  margin: 0.4%;
}

/* line 159, shelleyStyles.scss */

.side#right.grid div.mailing {
  padding: 20px;
}

/* line 162, shelleyStyles.scss */

.side#right.grid div.mailing .validate {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 1px solid rgba(172, 135, 35, 0.4);
}

/* line 169, shelleyStyles.scss */

.side#right.grid div.mailing .validate h2 {
  color: #C59000;
  font-family: 'Playfair Display SC',serif;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* line 176, shelleyStyles.scss */

.side#right.grid div.mailing .validate input {
  border: 1px solid #ddd;
  padding: 10px 15px;
  outline: none;
}

/* line 181, shelleyStyles.scss */

.side#right.grid div.mailing .validate input[type="submit"] {
  background: #2c160a;
  color: white;
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  cursor: pointer;
}

/* line 192, shelleyStyles.scss */

.side#right.grid div a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -webkit-background-size: auto 110%;
  background-size: auto 110%;
  background-position: 50% 50%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 16px;
  font-family: 'Playfair Display SC',serif;
  text-transform: uppercase;
  background-color: #2c160a;
  color: rgba(197, 144, 0, 0);
}

/* line 211, shelleyStyles.scss */

.side#right.grid div a span {
  display: block;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: rgba(255, 255, 255, 0);
  font-family: 'Lato', sans-serif !important;
  font-size: 0px !important;
  width: 20%;
  margin: 3% auto 0;
  padding: 1% 5%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* line 230, shelleyStyles.scss */

.side#right.grid div a:hover {
  -webkit-background-size: auto 130%;
  background-size: auto 130%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  background-blend-mode: overlay;
  color: #C59000;
  font-size: 26px;
}

/* line 239, shelleyStyles.scss */

.side#right.grid div a:hover span {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  color: rgba(255, 255, 255, 0.4);
  font-size: 11px !important;
}

.side#right.grid div a img {
  opacity: 0;
  transition: all 0.25s ease;
}

.side#right.grid div a:hover img {
  opacity: 1;
  transition: all 0.25s ease;
}

/* line 250, shelleyStyles.scss */

.side#right.interior {
  padding: 4% 4%;
  text-align: left;
}

/* line 254, shelleyStyles.scss */

.side#right.interior h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 42px;
  letter-spacing: 5px;
  margin-bottom: 5%;
  color: #201712;
  text-transform: uppercase;
}

/* line 264, shelleyStyles.scss */

.side#right.interior img {
  width: 100%;
  margin-bottom: 40px;
}

/* line 269, shelleyStyles.scss */

.side#right.interior p {
  color: #555555;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 4%;
  padding-bottom: 10px;
}

/* line 276, shelleyStyles.scss */

.side#right.interior p strong.subtitle {
  display: block;
  font-size: 22px;
  color: #C59000;
  font-weight: 300;
}

/* line 283, shelleyStyles.scss */

.side#right.interior p img {
  float: right;
  margin: 1.5% 0 5% 6%;
  width: auto;
}

/* line 288, shelleyStyles.scss */

.side#right.interior p img.photoLeft {
  margin: 0;
  float: none;
  width: auto;
}

/* line 295, shelleyStyles.scss */

.side#right.interior p .standaloneLink {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 2px;
}

/* line 303, shelleyStyles.scss */

.side#right.interior div.clear.divider {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  width: 70%;
  margin: 0 auto 40px;
}

/* line 310, shelleyStyles.scss */

.side#right.interior .gallery {
  list-style: none;
}

/* line 313, shelleyStyles.scss */

.side#right.interior .gallery li {
  display: table;
  float: left;
  width: 32.5%;
  height: 23.5vw;
  background: #eee;
  margin: 0.4%;
  text-align: center;
}

/* line 323, shelleyStyles.scss */

.side#right.interior .gallery li a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -webkit-background-size: auto 110%;
  background-size: auto 110%;
  background-position: 50% 50%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: default;
}

/* line 350, shelleySles.scss */

.side#right.interior .gallery.press li a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -webkit-background-size: auto 110%;
  background-size: auto 110%;
  background-position: 50% 50%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 16px;
  font-family: 'Playfair Display SC',serif;
  text-transform: uppercase;
  background-color: #2c160a;
  color: rgba(197, 144, 0, 0);
  cursor: pointer;
}

/* line 369, shelleyStyles.scss */

.side#right.interior .gallery.press li a span {
  display: block;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: rgba(255, 255, 255, 0);
  font-family: 'Lato', sans-serif !important;
  font-size: 0px !important;
  width: 40%;
  margin: 3% auto 0;
  padding: 3% 5%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* line 386, shelleyStyles.scss */

.side#right.interior .gallery.press li a:hover {
  -webkit-background-size: auto 130%;
  background-size: auto 130%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  background-blend-mode: overlay;
  color: #C59000;
  font-size: 26px;
}

/* line 394, shelleyStyles.scss */

.side#right.interior .gallery.press li a:hover span {
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px !important;
}

/* line 406, shelleyStyles.scss */

.side#right.interior.contact h2 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 300;
  text-transfrom: uppercase;
  color: #201712;
}

/* line 413, shelleyStyles.scss */

.side#right.interior.contact p {
  margin-bottom: 2%;
}

/* Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
*/
.side#right.blog {
  padding: 4% 4%;
  
}

.side#right.blog img {
  width: 100%;
  margin-bottom: 40px;
}


/* line 276, shelleyStyles.scss */

.side#right.blog p strong.subtitle {
  display: block;
  font-size: 22px;
  color: #C59000;
  font-weight: 300;
}

/* line 283, shelleyStyles.scss */

.side#right.blog p img {
  
  margin: 1.5% 0 5% 6%;
  width: auto;
}

.side#right.blog h2 a.blogtitle {
  font-family: 'Playfair Display SC', serif;
  font-weight: 300;
  text-transfrom: uppercase;
  color: #9FC6D9;
  font-size: 30pt;
  text-align: center; 
  letter-spacing: 5px;
  margin-bottom: 10%;
}

.side#right.blog h2{
  text-align: center;
}
 
.side#right.blog h3 {
  font-family: 'Monsterat', serif;
  font-weight: 300;
  text-transfrom: uppercase;
  color: #9FC6D9;
  font-size: 24pt;
}

.side#right.blog h4 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 300;
  text-transfrom: uppercase;
  color: #7C7C7C;
  font-size: 12pt;
}

.side#right.blog h4 a {
 color: #CF8F00;
}

.side#right.blog h4.entryDate {
  font-family: 'Playfair Display', serif;
  text-align: right;
  color: #B2B2B2;
  font-style: italic;

}

.side#right.blog h5 {
  font-family: 'Monsterat', serif;
  font-weight: 300;
  text-transfrom: uppercase;
  color: #7C7C7C;
  font-size: 11pt;
}

.side#right.blog h5.tags {
  text-transfrom: lowercase;
  color: #9FC6D9;
  font-style: italic;
}


.side#right.blog p {
  font-family: 'Monsterat', serif;
  font-weight: lighter;
  color: #7C7C7C;
  font-size: 14pt;
  line-height: 30px;
  margin-bottom: 4%;
  padding-bottom: 10px;
}

.side#right.blog p a {
  font-weight: medium;
  color: #C48F00;
}

.side#right.blog b,strong {
  font-family: 'Monsterat', serif;
  font-weight: medium;
  color: #7C7C7C;
  font-size: 14pt;
}

.caption{
  float: left;
  margin-top: 1%;
}

.caption ul{
  text-decoration: none;
  display: inline;
}

/*start of my edits*/
hr{
  margin-bottom: 1%;
}
#wrap {
    display: flex;
    flex-flow: row wrap;
  }

#wrap .full{
  width: 100%;
  flex: 1 100%;
  margin-bottom: 5%;
  margin-top: 2%;
  align-self: center;
}

#wrap .column{
  flex: 2;
  margin-right: 55px;
  margin-bottom: 5%;
}
#wrap .column:nth-of-type(odd) {
  margin-right: 0;
}
/*start of my edits*/


/*  Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS
Start of blog CSS

 */










.nav-collapse {
  position: relative !important;
}

/* line 426, shelleyStyles.scss */

.nav-collapse ul {
  display: block;
  width: 100%;
  list-style: none;
}

/* line 432, shelleyStyles.scss */

.nav-collapse li {
  width: 100%;
  display: block;
}

/* line 437, shelleyStyles.scss */

.nav-toggle {
  display: none !important;
}

@media only screen and (max-width: 1024px) {
  /* line 452, shelleyStyles.scss */

  .interior p img {
    width: 50%;
  }

  /* line 456, shelleyStyles.scss */

  .side#right.grid div a span {
    width: 30%;
  }

  /* line 461, shelleyStyles.scss */

  .side#right.grid div.mailing {
    width: 100%;
  }

  /* line 466, shelleyStyles.scss */

  .side#right.interior .gallery.press li a span {
    width: 60%;
  }
}

@media only screen and (max-width: 750px) {
  /* line 474, shelleyStyles.scss */

  

  /* line 479, shelleyStyles.scss */

  .side {
    min-height: 0;
  }

  /* line 482, shelleyStyles.scss */

  .side#header {
    float: none;
    width: 100%;
    padding-top: 0;
    border-bottom: 1px solid #dad9d9;
    padding-bottom: 2%;
  }

  /* line 489, shelleyStyles.scss */

  .side#header a.shelley {
    width: 12%;
    display: inline-block;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  /* line 497, shelleyStyles.scss */

  .side#header .logo {
    width: 60%;
    float: none;
    margin: 0 auto;
    margin-top: 5%;
  }

  /* line 507, shelleyStyles.scss */

  .side#header a.nav-toggle {
    display: block !important;
    margin-top: -9%;
    right: 4%;
    width: 9%;
    height: 9%;
  }

  /* line 514, shelleyStyles.scss */

  .side#header a.nav-toggle svg {
    fill: #ac8723;
    height: 4%;
  }

  /* line 519, shelleyStyles.scss */

  .side#header a.nav-toggle svg:hover {
    fill: #201712;
  }

  /* line 525, shelleyStyles.scss */

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: relative;
    display: block;
    overflow: hidden;
  }

  /* line 532, shelleyStyles.scss */

  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
  }

  /* line 537, shelleyStyles.scss */

  .nav-collapse.opened {
    max-height: 620px !important;
  }

  /* line 538, shelleyStyles.scss */

  .nav-collapse a:hover {
    background: transparent;
  }

  /* line 539, shelleyStyles.scss */

  .nav-collapse .active a:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
  }

  /* line 540, shelleyStyles.scss */

  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    height: 55px;
    float: right;
    display: block;
    margin: 0 -2em 1em 0;
  }

  /* line 558, shelleyStyles.scss */

  .side#right.grid {
    width: 100%;
    border: none;
    margin: 0;
  }

  /* line 563, shelleyStyles.scss */

  .side#right.grid div {
    width: 49.2%;
    height: 49vw;
  }

  /* line 571, shelleyStyles.scss */

  .side#right.interior {
    width: 100%;
    padding: 12% 7%;
  }

  /* line 575, shelleyStyles.scss */

  .side#right.interior img {
    width: 116.9%;
    margin: 0px auto 8% -8.5%;
  }

  /* line 580, shelleyStyles.scss */

  .side#right.interior p {
    margin-bottom: 6%;
  }

  /* line 583, shelleyStyles.scss */

  .side#right.interior p img {
    width: 116.9%;
    float: none;
    margin: 0px auto 8% -8.5%;
  }

  /* line 588, shelleyStyles.scss */

  .side#right.interior p img.photoLeft {
    margin: 0;
    float: none;
    width: 80%;
  }

  /* line 596, shelleyStyles.scss */

  .side#right.interior h1 {
    margin-bottom: 11%;
    font-size: 38px;
  }

  /* line 601, shelleyStyles.scss */

  .side#right.interior .gallery {
    margin-top: 10%;
  }

  /* line 604, shelleyStyles.scss */

  .side#right.interior .gallery li {
    width: 49.2%;
    height: 39.5vw;
  }
}

.stupid {
display:none;
}
.stupid:hover {
background-image:/images/details/flowerLamp.jpg;
width: 25%;
height: 25%;
}

.tohide {
display:none;
}

.pinterestButton {
color: #C59000;
font-size: 16px;
font-family: 'Playfair Display SC', serif;
text-decoration: none;
letter-spacing: 3px;
}

.norollover {
display: table-cell;
width: 100%;
height: 100%;
vertical-align: middle;
background-size: auto 110%;
background-position: 50% 50%;
-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
-ms-transition: all 0.25s ease;
transition: all 0.25s ease;
font-size: 16px;
}
.norollover:hover {
background-color: none!important;
}
