/* Scss Document */
@import "compass/_css3.scss";

* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}

.clear {
	display: block;
	clear: both;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Playfair Display', serif;
}


.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

//Start of flex box styles
hr {
  margin-top: 55px;
  color: #604606;

  &.rule-half {
	width: 30%;
	margin: 55px 35% 0%;
  }
}

.blogHeader {
	width: 100%;
	margin-top: 5%;
}

.row {
  display:flex;
  width: 100%;
  overflow:hidden;

	.full {
		flex: 1 1 auto;
		width: 100%;
		margin-bottom:1%;
		margin-top: 55px;
		align-self: center;
		text-align: left;
	
		img {
			width: 100%;
			}
		}

	.column {
		flex: 1 1 auto;
		min-width: 30%;
		text-align: left;
		flex-shrink: 1;
		margin-top: 55px;

		&.image {
			flex-shrink: 0;
			max-width: 50%;
		}

		img {
			width: 100%;
		}

		

		&:nth-of-type(even) {
			margin-right: 0;
		}

		&:nth-of-type(odd) {
			margin-right: 40px;
		}
	}

	.caption{
		float: left;
 		margin-top: 10px;
		text-align: left;
		 

		ul li{
			text-decoration: none;
			display: inline-block;
			
  			
		}
	}
  
  }

  
//Start of flex box styles


section, div, p, a, span  {
	box-sizing: border-box;
}
.side {
	display: block;
	min-height: 100%;
	padding: 3% 0;
	float: left;
	
	
	
	a, svg {
		color: #C59000;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;	
		text-decoration: none;
		outline: 0;
		border: 0;
		webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
		
		&.round {
			display: block;
			margin: 6% auto !important;
			border-radius: 25px;	
			border: 1px solid rgba(172,135,35,0.40) !important;
			color: #201712;
			font-family: 'Lato', sans-serif !important;
			font-size: 13px !important;
			
			&:hover {
				background: #201712 !important;
				color: #ffffff;	
			}
		}
	}
	a:hover {
		color: #201712;
		webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
	}
	
	&#header {
		width: 25%;
		border-right: 1px solid #dad9d9;	
		text-align: center;
		
		a {
			display: block;
			width: 84%;
			margin: 0 auto;
			
			img {
				width: 100%;	
			}
		}
		
		a.shelley {
			width: 50%;
			height: auto;
			display: block;
			margin: 0 auto 9%;
			
			img {
				width: 100%;
			}
				
		}
		#foo ul {
			margin-top: 7%;

			li {
				 display:table;
				 
			}
			
			li a {
				border-bottom: 1px solid #e5e4e4;	
				padding: 20px 0;
				text-transform: uppercase;
				letter-spacing: 3px;
				text-decoration: none;
				font-family: 'Playfair Display SC', serif;
				font-size: 18px;
				webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
				
				
				&.noBorder {
					border: none;
				}
				
				&.social {
					width: 30px;
					border: none;
					display: inline;
					
					height: 30px;
					
					svg {
						fill: #ccc;
						width: 30px;
						height: 30px;	
						
						&:hover {
							fill: #201712;
						}
					}
				}
				
				&:hover {
					webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
				}

				//Shelley's Image in Nav
				img{
					width: initial;
					height: initial;
					max-width: 100%;
					width: 120px;
				}
				//Shelley's Image in Nav
			}
		}
	}
	&#right {
		width: 75%;
		border-left: 1px solid #DAD9D9;
  		margin-left: -1px;	
		
		&.grid {
			
			padding: 0.3%;
			
			div {
				display: table;
				float: left;
				width: 32.5%;
				height: 23.5vw;
				margin: 0.4%;
				
				&.mailing {
					padding: 20px;
				
					.validate {
						display: table-cell;
						width: 100%;
						height: 100%;
						vertical-align: middle;
						border: 1px solid rgba(172, 135, 35, 0.4);
						
						h2 {
							color: #C59000;
							font-family: 'Playfair Display SC',serif;
							font-size: 26px;
							font-weight: 400;
							margin-bottom: 20px;
						}
						input {
							border: 1px solid #ddd;
							padding: 10px 15px;
							outline: none;
						}
						input[type="submit"] {
							background: #2c160a;	
							color: white;
							font-family: 'Lato', sans-serif !important;
							text-transform: uppercase !important;
							letter-spacing: 2px;
							cursor: pointer;
						}
					}
				}
				
				a {
					display: table-cell;
					width: 100%;
					height: 100%;
					vertical-align: middle;
					background-size: auto 110%;
					background-position: 50% 50%;
					-webkit-transition: all 0.25s ease;
					-moz-transition: all 0.25s ease;
					-o-transition: all 0.25s ease;
					-ms-transition: all 0.25s ease;
					transition: all 0.25s ease;
					font-size: 16px;
					font-family: 'Playfair Display SC',serif;
					text-transform: uppercase;
					background-color: #2c160a;
					color: rgba(197,144,0,0);
					
					
					span {
						  display: block;
						  border-radius: 25px;
						  border: 1px solid rgba(255, 255, 255, 0.0) !important;
						  color: rgba(255, 255, 255, 0.0) ;
						  font-family: 'Lato', sans-serif !important;
						  font-size: 0px !important;	
						  width: 20%;
						  margin: 3% auto 0;
						  padding: 1% 5%;
						  -webkit-transition: all 0.25s ease;
						-moz-transition: all 0.25s ease;
						-o-transition: all 0.25s ease;
						-ms-transition: all 0.25s ease;
						transition: all 0.25s ease;
					}
					
					
					
					&:hover {
						background-size: auto 130%;
						-webkit-filter: grayscale(50%); 
						filter: grayscale(50%);
						background-blend-mode: overlay;
						color: #C59000;
						font-size: 26px;
						
						 
						 
						 
						 span {
							  border: 1px solid rgba(255, 255, 255, 0.3) !important;
							  color: rgba(255, 255, 255, 0.4) ;
							  font-size: 11px !important;	
						}

						//Index page Shelley logo hover
						img{
							opacity: 1;
  							transition: all 0.25s ease;
						}
						//Index page Shelley logo on hover

					}

					//Index page Shelley before logo
					img{
						opacity: 0;
  						transition: all 0.25s ease;
						max-width: 100%
						  
					}
					//Index page Shelley before logo

				}
			}
		}
		
		
		&.interior {
			padding: 4% 4%;
			text-align: left;
			
			h1 {
				font-family: "Lato", sans-serif;
				font-weight: 300;
				font-size: 42px;
				letter-spacing: 5px;
				margin-bottom: 5%;
				color: #201712;
				text-transform: uppercase;
			}
			
			img {
				width: 100%;
				margin-bottom: 40px;
			}
			
			p {
				color: #555555;
				font-size: 17px;
				line-height: 30px;
				margin-bottom: 4%;	
				padding-bottom: 10px;
				
				strong.subtitle {
					  display: block;
					  font-size: 22px;
					  color: #C59000;
					  font-weight: 300;	
				}
				
				img {
					float: right;
					margin: 1.5% 0 5% 6%;
					width: auto;	
					
					&.photoLeft {
						margin: 0;
						float: none;
						width: auto;	
					}
				}
				
				.standaloneLink {
					text-decoration: none;
					font-size: 13px;	
					letter-spacing: 2px;
				}
				
				
			}
			div.clear.divider {
				display: block;
				border-bottom: 1px solid #e1e1e1;
				width: 70%;
				margin: 0 auto 40px;
			}
			
			.gallery {
				list-style: none;	
				
				li {
					display: table;
					float: left;
					width: 32.5%;
					height: 23.5vw;
					background: #eee;
					margin: 0.4%;
					text-align: center;
					
					
					a {
						display: table-cell;
						width: 100%;
						height: 100%;
						vertical-align: middle;
						background-size: auto 110%;
						background-position: 50% 50%;
						-webkit-transition: all 0.25s ease;
						-moz-transition: all 0.25s ease;
						-o-transition: all 0.25s ease;
						-ms-transition: all 0.25s ease;
						transition: all 0.25s ease;
						cursor: default;
						
						/* &:hover {
							background-size: auto 130%;
							 -webkit-filter: grayscale(50%); 
							 filter: grayscale(50%); 
							 background-blend-mode: overlay;
							 color: #C59000;
							 font-size: 26px;
						} */
					}
					
					
				}
				&.press {
					li a {
						display: table-cell;
						width: 100%;
						height: 100%;
						vertical-align: middle;
						background-size: auto 110%;
						background-position: 50% 50%;
						-webkit-transition: all 0.25s ease;
						-moz-transition: all 0.25s ease;
						-o-transition: all 0.25s ease;
						-ms-transition: all 0.25s ease;
						transition: all 0.25s ease;
						font-size: 16px;
						font-family: 'Playfair Display SC',serif;
						text-transform: uppercase;
						background-color: #2c160a;
						color: rgba(197,144,0,0);
						cursor: pointer;
						
						span {
							  display: block;
							  border-radius: 25px;
							  border: 1px solid rgba(255, 255, 255, 0.0) !important;
							  color: rgba(255, 255, 255, 0.0) ;
							  font-family: 'Lato', sans-serif !important;
							  font-size: 0px !important;	
							  width: 40%;
							  margin: 3% auto 0;
							  padding: 3% 5%;
							  -webkit-transition: all 0.25s ease;
							-moz-transition: all 0.25s ease;
							-o-transition: all 0.25s ease;
							-ms-transition: all 0.25s ease;
							transition: all 0.25s ease;
						}
										
						&:hover {
							background-size: auto 130%;
							 -webkit-filter: grayscale(50%); 
							 filter: grayscale(50%); 
							 background-blend-mode: overlay;
							 color: #C59000;
							 font-size: 26px;
							 
							 
							 
							 span {
								  border: 1px solid rgba(255, 255, 255, 0.4) !important;
								  color: rgba(255, 255, 255, 0.5) ;
								  font-size: 13px !important;	
							}
						}	
					}
				}
			}
			
			&.contact {
				
				h2 {
					font-family: 'Playfair Display SC', serif;
					font-weight: 300;	
					text-transform: uppercase;
					color: #201712;
				}
		
				p {
					margin-bottom: 2%;	
				}
			}
		}

		&.blog{
			padding: 4% 4%;

			h2{
				text-align: center;
				a.blogtitle {
					font-family: 'Playfair Display SC', Sans-Serif;
					font-weight: 300;
					text-transform: uppercase;
					color: #9FC6D9;
					font-size: 30pt;
					text-align: center;
					margin-bottom: 10%;
				}
			}

			h3 {
				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
				text-transform: uppercase;
				color: #9FC6D9;
				font-size: 24pt;
				margin-bottom: 2%;
			}

			h4 {
				font-family: 'Playfair Display SC', serif;
				font-weight: 300;
				color: #7C7C7C;
				font-size: 10pt;

				a {
					color: #CF8F00;
				}

				&.entryDate {
					font-family: 'Playfair Display', serif;
					text-align: right;
					color: #B2B2B2;
					font-style: italic;
					font-size: 12pt;
				}
			}

			h5 {
				font-family: 'Montserrat', sans-serif;
				font-weight: 600;
				text-transform: uppercase;
				color: #7C7C7C;
				font-size: 8pt;

				a {
					color: #9FC6D9;
					font-style: italic;
					font-weight: 300;
					margin-right: 8pt;

				}
			}

			a {
					font-weight: 500;
					color: #C48F00;
					text-transform: uppercase;
					font-family: "Playfair Display SC";
			}

			ul li, ol {
				font-family: 'Montserrat', sans-serif;
				font-weight: lighter;
				color: #7C7C7C;
				font-size: 15pt;
				line-height: 40px;
				margin-left: 20px;

				
			}

			ol {
				margin: 0 0 1.5em;
				padding: 0;
				counter-reset: item;
				}

				ol > li {
				margin: 0;
				padding: 0 0 0 2em;
				text-indent: -2em;
				list-style-type: none;
				counter-increment: item;
				}

				ol > li:before {
				display: inline-block;
				width: 1em;
				padding-right: 0.5em;
				font-weight: bold;
				text-align: right;
				content: counter(item) ".";
				}


			

			p {
				font-family: 'Montserrat', sans-serif;
				font-weight: lighter;
				color: #7C7C7C;
				font-size: 15pt;
				line-height: 30px;

				&.header {
					font-size: 20pt;
				}
				

				
				img {
					margin: 1.5% 0 5% 6%;
					width: auto;
				}

				strong.subtitle {
					display: block;
					font-size: 22px;
					color: #C59000;
					font-weight: 300;
				}


			}

			b,strong {
				font-family: 'Montserrat', sans-serif;
				font-weight: medium;
				color: #7C7C7C;
				font-size: 15pt;
			}

			.full-size {
				width:100%;
			}

		}
	}
}


.nav-collapse {
  position: relative !important;
}

.nav-collapse ul {
  display: block;
  width: 100%;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.nav-toggle { display: none !important; }

.stupid {
display:none;
}

/*
.stupid:hover {
background-image:/images/details/flowerLamp.jpg;
width: 25%;
height: 25%;
}
*/

.tohide {
display:none;
}

.pinterestButton {
color: #C59000;
font-size: 16px;
font-family: 'Playfair Display SC', serif;
text-decoration: none;
letter-spacing: 3px;
}

.norollover {
display: table-cell;
width: 100%;
height: 100%;
vertical-align: middle;
background-size: auto 110%;
background-position: 50% 50%;
-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
-ms-transition: all 0.25s ease;
transition: all 0.25s ease;
font-size: 16px;
}

.norollover:hover {
background-color: none!important;
}




/* //////////////////////////////////////////////

MEDIA QUERIES

/////////////////////////////////////////////// */

@media only screen and (max-width : 1024px) {
	


.interior p img {
	width: 50%;	
}

.side#right.grid div a span {
	width: 30%;
}

.side#right.grid div {
	&.mailing {
		width: 100%;
	}
}

.side#right.interior .gallery.press li a span {
	width: 60%;
}
}



@media only screen and (max-width : 800px) {
	#row {
		
		flex-direction: column;

		.column{
			margin-right:0;
		}
	}

	.side {
		min-height: 0;
	}
	.side#header {
		float: none;	
		width: 100%;
		padding-top: 0;
		border-bottom: 1px solid #dad9d9;
		padding-bottom: 2%;
					
		a.shelley {
			width: 12%;	
			display: inline-block;
			float: left;
			position: absolute;
			top: 10px;
			left: 10px;
		}
		.logo {
			width: 60%;	
			float: none;
			margin: 0 auto;
			margin-top: 5%;
			
		}

	}
	
	.side#header a.nav-toggle {
		display: block !important;
		  margin-top: -9%;
		  right: 4%;
		  width: 9%;
		  height: 9%;
		  
		  svg {
			  
			 fill: #ac8723;
			 height: 4%;
			 
			 &:hover {
				fill: #201712; 
			 }
		  }
	}

	.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
  }
  .nav-collapse.opened { max-height: 620px !important; }
  .nav-collapse a:hover { background: transparent }
  .nav-collapse .active a:hover { color: #fff; background: rgba(0,0,0, .3) }
  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    height: 55px;
    float: right;
    display: block;
    margin: 0 -2em 1em 0;
  }
  .side#right {
	  	
		&.grid {
			width: 100%;
			border: none;
			margin: 0;
			
			div {
				width: 49.2%;
				height: 49vw;	
			
			}

			.column p{
				margin-bottom: 4%;
			}
		}
	  	
  
  		&.interior {
			width: 100%;
			padding: 12% 7%;
			
			img {
				width: 116.9%;
				margin: 0px auto 8% -8.5%;
			}
			
			p {
				margin-bottom: 6%;
				
				img {
					width: 116.9%;
					  float: none;
					  margin: 0px auto 8% -8.5%;
					  
					  &.photoLeft {
							margin: 0;
							float: none;
							width: 80%;	
						}
				}
			}
			
			h1 {
				margin-bottom: 11%;
				font-size: 38px;	
			}
			
			.gallery {
				margin-top: 10%;
				
				li {
					width: 49.2%;
					height: 39.5vw;	
				
				}
			}
		
		}

		//Blog Elements
		&.blog{
			width: 100%;
		}
		
	}

}

@media only screen and (max-width : 600px) {
	hr {
		margin-top: 30px;

		&.rule-half {
			width: 30%;
			margin: 30px 35% 0%;
		}
	}

	
	.row {
		
		flex-direction: column;

		.full {
			margin-top: 30px;
		}

		.column {

			margin-top: 30px;
		
			&.image {
				align-self: center;
			}

			&:nth-of-type(odd) {
			margin-right: 0;
		}

		}
	}

	.side#right.blog{
		ul li, ol{
			font-size: 13pt;
		}

		p {
			font-size: 13pt;

			&.header {
				font-size: 13pt;
			}
		}

		h2 a.blogtitle {
			font-size: 24pt;
		}

		h4.entryDate {
			font-size: 10pt;
		}

		strong {
			font-size: 13pt;
		}

	}

	
}

@media only screen and (max-width : 600px) {
	.side#right.blog p.header br {
		display: none;
	}
}

