/* Scss Document */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.clear {
  display: block;
  clear: both;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Playfair Display', serif;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

hr {
  margin-top: 55px;
  color: #604606;
}

hr.rule-half {
  width: 30%;
  margin: 55px 35% 0%;
}

.blogHeader {
  width: 100%;
  margin-top: 5%;
}

.row {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.row .full {
  flex: 1 1 auto;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 55px;
  align-self: center;
  text-align: left;
}

.row .full img {
  width: 100%;
}

.row .column {
  flex: 1 1 auto;
  min-width: 30%;
  text-align: left;
  flex-shrink: 1;
  margin-top: 55px;
}

.row .column.image {
  flex-shrink: 0;
  max-width: 50%;
}

.row .column img {
  width: 100%;
}

.row .column:nth-of-type(even) {
  margin-right: 0;
}

.row .column:nth-of-type(odd) {
  margin-right: 40px;
}

.row .caption {
  float: left;
  margin-top: 10px;
  text-align: left;
}

.row .caption ul li {
  text-decoration: none;
  display: inline-block;
}

section, div, p, a, span {
  box-sizing: border-box;
}

.side {
  display: block;
  min-height: 100%;
  padding: 3% 0;
  float: left;
}

.side a, .side svg {
  color: #C59000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  outline: 0;
  border: 0;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.side a.round, .side svg.round {
  display: block;
  margin: 6% auto !important;
  border-radius: 25px;
  border: 1px solid rgba(172, 135, 35, 0.4) !important;
  color: #201712;
  font-family: 'Lato', sans-serif !important;
  font-size: 13px !important;
}

.side a.round:hover, .side svg.round:hover {
  background: #201712 !important;
  color: #ffffff;
}

.side a:hover {
  color: #201712;
  webkit-tap-highlight-color: transparent;
}

.side#header {
  width: 25%;
  border-right: 1px solid #dad9d9;
  text-align: center;
}

.side#header a {
  display: block;
  width: 84%;
  margin: 0 auto;
}

.side#header a img {
  width: 100%;
}

.side#header a.shelley {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 9%;
}

.side#header a.shelley img {
  width: 100%;
}

.side#header #foo ul {
  margin-top: 7%;
}

.side#header #foo ul li {
  display: table;
}

.side#header #foo ul li a {
  border-bottom: 1px solid #e5e4e4;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: 'Playfair Display SC', serif;
  font-size: 18px;
  webkit-tap-highlight-color: transparent;
}

.side#header #foo ul li a.noBorder {
  border: none;
}

.side#header #foo ul li a.social {
  width: 30px;
  border: none;
  display: inline;
  height: 30px;
}

.side#header #foo ul li a.social svg {
  fill: #ccc;
  width: 30px;
  height: 30px;
}

.side#header #foo ul li a.social svg:hover {
  fill: #201712;
}

.side#header #foo ul li a:hover {
  webkit-tap-highlight-color: transparent;
}

.side#header #foo ul li a img {
  width: initial;
  height: initial;
  max-width: 100%;
  width: 120px;
}

.side#right {
  width: 75%;
  border-left: 1px solid #DAD9D9;
  margin-left: -1px;
}

.side#right.grid {
  padding: 0.3%;
}

.side#right.grid div {
  display: table;
  float: left;
  width: 32.5%;
  height: 23.5vw;
  margin: 0.4%;
}

.side#right.grid div.mailing {
  padding: 20px;
}

.side#right.grid div.mailing .validate {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 1px solid rgba(172, 135, 35, 0.4);
}

.side#right.grid div.mailing .validate h2 {
  color: #C59000;
  font-family: 'Playfair Display SC',serif;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.side#right.grid div.mailing .validate input {
  border: 1px solid #ddd;
  padding: 10px 15px;
  outline: none;
}

.side#right.grid div.mailing .validate input[type="submit"] {
  background: #2c160a;
  color: white;
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  cursor: pointer;
}

.side#right.grid div a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-size: auto 110%;
  background-position: 50% 50%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 16px;
  font-family: 'Playfair Display SC',serif;
  text-transform: uppercase;
  background-color: #2c160a;
  color: rgba(197, 144, 0, 0);
}

.side#right.grid div a span {
  display: block;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: rgba(255, 255, 255, 0);
  font-family: 'Lato', sans-serif !important;
  font-size: 0px !important;
  width: 20%;
  margin: 3% auto 0;
  padding: 1% 5%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.side#right.grid div a:hover {
  background-size: auto 130%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  background-blend-mode: overlay;
  color: #C59000;
  font-size: 26px;
}

.side#right.grid div a:hover span {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  color: rgba(255, 255, 255, 0.4);
  font-size: 11px !important;
}

.side#right.grid div a:hover img {
  opacity: 1;
  transition: all 0.25s ease;
}

.side#right.grid div a img {
  opacity: 0;
  transition: all 0.25s ease;
  max-width: 100%;
}

.side#right.interior {
  padding: 4% 4%;
  text-align: left;
}

.side#right.interior h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 42px;
  letter-spacing: 5px;
  margin-bottom: 5%;
  color: #201712;
  text-transform: uppercase;
}

.side#right.interior img {
  width: 100%;
  margin-bottom: 40px;
}

.side#right.interior p {
  color: #555555;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 4%;
  padding-bottom: 10px;
}

.side#right.interior p strong.subtitle {
  display: block;
  font-size: 22px;
  color: #C59000;
  font-weight: 300;
}

.side#right.interior p img {
  float: right;
  margin: 1.5% 0 5% 6%;
  width: auto;
}

.side#right.interior p img.photoLeft {
  margin: 0;
  float: none;
  width: auto;
}

.side#right.interior p .standaloneLink {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 2px;
}

.side#right.interior div.clear.divider {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  width: 70%;
  margin: 0 auto 40px;
}

.side#right.interior .gallery {
  list-style: none;
}

.side#right.interior .gallery li {
  display: table;
  float: left;
  width: 32.5%;
  height: 23.5vw;
  background: #eee;
  margin: 0.4%;
  text-align: center;
}

.side#right.interior .gallery li a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-size: auto 110%;
  background-position: 50% 50%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: default;
  /* &:hover {
							background-size: auto 130%;
							 -webkit-filter: grayscale(50%); 
							 filter: grayscale(50%); 
							 background-blend-mode: overlay;
							 color: #C59000;
							 font-size: 26px;
						} */
}

.side#right.interior .gallery.press li a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-size: auto 110%;
  background-position: 50% 50%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 16px;
  font-family: 'Playfair Display SC',serif;
  text-transform: uppercase;
  background-color: #2c160a;
  color: rgba(197, 144, 0, 0);
  cursor: pointer;
}

.side#right.interior .gallery.press li a span {
  display: block;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: rgba(255, 255, 255, 0);
  font-family: 'Lato', sans-serif !important;
  font-size: 0px !important;
  width: 40%;
  margin: 3% auto 0;
  padding: 3% 5%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.side#right.interior .gallery.press li a:hover {
  background-size: auto 130%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  background-blend-mode: overlay;
  color: #C59000;
  font-size: 26px;
}

.side#right.interior .gallery.press li a:hover span {
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px !important;
}

.side#right.interior.contact h2 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #201712;
}

.side#right.interior.contact p {
  margin-bottom: 2%;
}

.side#right.blog {
  padding: 4% 4%;
}

.side#right.blog h2 {
  text-align: center;
}

.side#right.blog h2 a.blogtitle {
  font-family: 'Playfair Display SC', Sans-Serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #9FC6D9;
  font-size: 30pt;
  text-align: center;
  margin-bottom: 10%;
}

.side#right.blog h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #9FC6D9;
  font-size: 24pt;
  margin-bottom: 2%;
}

.side#right.blog h4 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 300;
  color: #7C7C7C;
  font-size: 10pt;
}

.side#right.blog h4 a {
  color: #CF8F00;
}

.side#right.blog h4.entryDate {
  font-family: 'Playfair Display', serif;
  text-align: right;
  color: #B2B2B2;
  font-style: italic;
  font-size: 12pt;
}

.side#right.blog h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #7C7C7C;
  font-size: 8pt;
}

.side#right.blog h5 a {
  color: #9FC6D9;
  font-style: italic;
  font-weight: 300;
  margin-right: 8pt;
}

.side#right.blog a {
  font-weight: 500;
  color: #C48F00;
  text-transform: uppercase;
  font-family: "Playfair Display SC";
}

.side#right.blog ul li, .side#right.blog ol {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #7C7C7C;
  font-size: 15pt;
  line-height: 40px;
  margin-left: 20px;
}

.side#right.blog ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

.side#right.blog ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

.side#right.blog ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.side#right.blog p {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #7C7C7C;
  font-size: 15pt;
  line-height: 30px;
}

.side#right.blog p.header {
  font-size: 20pt;
}

.side#right.blog p img {
  margin: 1.5% 0 5% 6%;
  width: auto;
}

.side#right.blog p strong.subtitle {
  display: block;
  font-size: 22px;
  color: #C59000;
  font-weight: 300;
}

.side#right.blog b, .side#right.blog strong {
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
  color: #7C7C7C;
  font-size: 15pt;
}

.side#right.blog .full-size {
  width: 100%;
}

.nav-collapse {
  position: relative !important;
}

.nav-collapse ul {
  display: block;
  width: 100%;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.nav-toggle {
  display: none !important;
}

.stupid {
  display: none;
}

/*
.stupid:hover {
background-image:/images/details/flowerLamp.jpg;
width: 25%;
height: 25%;
}
*/
.tohide {
  display: none;
}

.pinterestButton {
  color: #C59000;
  font-size: 16px;
  font-family: 'Playfair Display SC', serif;
  text-decoration: none;
  letter-spacing: 3px;
}

.norollover {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-size: auto 110%;
  background-position: 50% 50%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 16px;
}

.norollover:hover {
  background-color: none !important;
}

/* //////////////////////////////////////////////

MEDIA QUERIES

/////////////////////////////////////////////// */
@media only screen and (max-width: 1024px) {
  .interior p img {
    width: 50%;
  }
  .side#right.grid div a span {
    width: 30%;
  }
  .side#right.grid div.mailing {
    width: 100%;
  }
  .side#right.interior .gallery.press li a span {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  #row {
    flex-direction: column;
  }
  #row .column {
    margin-right: 0;
  }
  .side {
    min-height: 0;
  }
  .side#header {
    float: none;
    width: 100%;
    padding-top: 0;
    border-bottom: 1px solid #dad9d9;
    padding-bottom: 2%;
  }
  .side#header a.shelley {
    width: 12%;
    display: inline-block;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .side#header .logo {
    width: 60%;
    float: none;
    margin: 0 auto;
    margin-top: 5%;
  }
  .side#header a.nav-toggle {
    display: block !important;
    margin-top: -9%;
    right: 4%;
    width: 9%;
    height: 9%;
  }
  .side#header a.nav-toggle svg {
    fill: #ac8723;
    height: 4%;
  }
  .side#header a.nav-toggle svg:hover {
    fill: #201712;
  }
  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
  }
  .nav-collapse.opened {
    max-height: 620px !important;
  }
  .nav-collapse a:hover {
    background: transparent;
  }
  .nav-collapse .active a:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
  }
  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    height: 55px;
    float: right;
    display: block;
    margin: 0 -2em 1em 0;
  }
  .side#right.grid {
    width: 100%;
    border: none;
    margin: 0;
  }
  .side#right.grid div {
    width: 49.2%;
    height: 49vw;
  }
  .side#right.grid .column p {
    margin-bottom: 4%;
  }
  .side#right.interior {
    width: 100%;
    padding: 12% 7%;
  }
  .side#right.interior img {
    width: 116.9%;
    margin: 0px auto 8% -8.5%;
  }
  .side#right.interior p {
    margin-bottom: 6%;
  }
  .side#right.interior p img {
    width: 116.9%;
    float: none;
    margin: 0px auto 8% -8.5%;
  }
  .side#right.interior p img.photoLeft {
    margin: 0;
    float: none;
    width: 80%;
  }
  .side#right.interior h1 {
    margin-bottom: 11%;
    font-size: 38px;
  }
  .side#right.interior .gallery {
    margin-top: 10%;
  }
  .side#right.interior .gallery li {
    width: 49.2%;
    height: 39.5vw;
  }
  .side#right.blog {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  hr {
    margin-top: 30px;
  }
  hr.rule-half {
    width: 30%;
    margin: 30px 35% 0%;
  }
  .row {
    flex-direction: column;
  }
  .row .full {
    margin-top: 30px;
  }
  .row .column {
    margin-top: 30px;
  }
  .row .column.image {
    align-self: center;
  }
  .row .column:nth-of-type(odd) {
    margin-right: 0;
  }
  .side#right.blog ul li, .side#right.blog ol {
    font-size: 13pt;
  }
  .side#right.blog p {
    font-size: 13pt;
  }
  .side#right.blog p.header {
    font-size: 13pt;
  }
  .side#right.blog h2 a.blogtitle {
    font-size: 24pt;
  }
  .side#right.blog h4.entryDate {
    font-size: 10pt;
  }
  .side#right.blog strong {
    font-size: 13pt;
  }
}

@media only screen and (max-width: 600px) {
  .side#right.blog p.header br {
    display: none;
  }
}
