{% extends "_layout" %}

{% block right %}
	{{ parent() }}

    {% set entries = craft.entries.section('blog') %}
    {% set tag = craft.tags.title(tag).first() %}
    {% if not tag %}
        {% exit 404 %}
    {% endif %}

    <div id="right" class="side blog">
        <h1>Entries tagged with “{{ tag.title }}”</h1>
        
                {% for entry in entries %}
                    {% for block in entry.myMatrix %}
                        {% if block.type == 'image' %}
                            {% if block.myTags | length > 0 %}
                                <ul>
                                    {% for singleTag in block.myTags %}
                                        {% if singleTag == tag %}
                                            {% set image = block.myImage.first() %}
                                            
                                            <h1><a href="{{ entry.url }}">{{entry.title}}<img src="{{ image.getUrl() }}" alt="{{ image.title }}"></a></h1>
                                        
                                        {% endif %}
                                    
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
    </div>
{% endblock %}       
