{# --------------- Blog template --------------- #}

{% extends "_layout" %}
{% set title = " - " ~ entry.title %}
{% set description = entry.description %}

{% block right %}
	{{ parent() }}
	
	<div id="right" class="side blog">
           <div class="blogHeader">
                <hr>
                <h4 class="entryDate">{{ entry.postDate | date('F d, Y') }}</h4>
                <img src="{{ siteUrl }}/images/GoldStar.png" alt="Star" class="originalImageWidth" />
                <h2><a href="{{ entry.url }}" class="blogtitle">{{ entry.title }}</a></h2>
            </div>
           
            <!--Counter to control columns within flex box -->
            {% set count = 1 %}
            <!--Loop to cycle through each block-->
            {% for block in entry.myMatrix %}
                {% if block.type == 'image' %}

                    {% set image = block.myImage.first() %}
                        <!--Full sized blocks starting a new row-->
                        {% if image %}
                            {% if block.align == "full" %}
                                <div class="row">
                                    <div class="full">
                                        <img src="{{ image.getUrl() }}"  alt="{{ image.title }}">
                                        {% if block.myTags | length > 0 %}
                                            <div class="caption">
                                                <ul>
                                                    <li><h4>{{ block.caption }} |</h4></li> 
                                                    <li><h5>TAGS - </h5></li>
                                                    {% for tag in block.myTags %}
                                                        <li><h5 class="tags"><a href="tags/{{ tag }}">{{ tag }}</a></h5></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            <!--Odd number columns start new rows--> 
                           {% else %}
                                {% if count % 2 == 1 %}
                                    <div class="row">
                                        <div class="column image">
                                            <img src="{{ image.getUrl() }}" alt="{{ image.title }}">
                                            {% if block.myTags | length > 0 %}
                                                <div class="caption">
                                                    <ul>
                                                        <li><h4>{{ block.caption }} |</h4></li>
                                                        <li><h5>TAGS -</h5></li>
                                                        {% for tag in block.myTags %}
                                                            <li><h5 class="tags"><a href="tags/{{ tag }}">{{ tag }}</a></h5></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% set count = count + 1 %}
                                        </div>
                                    
                                   
                                <!--Even number columns are added to same row-->
                                {% else %}
                                    <div class="column image">
                                        <img src="{{ image.getUrl() }}" alt="{{ image.title }}">
                                        {% if block.myTags | length > 0 %}
                                            <div class="caption">
                                                <ul>
                                                    <li><h4>{{ block.caption }} |</h4></li>
                                                    <li><h5>TAGS -</h5></li>
                                                    {% for tag in block.myTags %}
                                                        <li><h5 class="tags"><a href="tags/{{ tag }}">{{ tag }}</a></h5></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                    </div>
                                    {% set count = count + 1 %}
                                    
                                {% endif %}
                            {% endif %}
                        {% endif %}


                    {% elseif block.type == 'text' %}
                        {% if block.align == "full" %}
                            <div class="row">
                                <div class="full">
                                    <p>{{ block.myText|markdown }}</p>
                                </div>
                            </div>
                            
                        {% else %}
                        <!--Odd number columns start new rows--> 
                            {% if count % 2 == 1 %}
                                <div class="row">
                                    <div class="column">
                                        <p>{{ block.myText|markdown }}</p>
                                    </div>
                                    {% set count = count + 1 %}
                            <!--Even number columns start new rows--> 
                            {% else %}
                                <div class="column">
                                    <p>{{ block.myText|markdown }}</p>
                                </div>
                                </div>
                                {% set count = count + 1 %}
                            {% endif %}
                            
                        {% endif %}
                    
                    {% elseif block.type == 'rule' %}
                        <hr class = "rule-half">
                    {% endif %}
                {% endfor %}        
    </div>

	
{% endblock %}

