{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
 

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	{% block head %}

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-87276295-2', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- Google Analytics -->

		<meta name="description" content="{{ description }}">
		<title>Shelley Johnstone Design{{ title }} | Northshore Luxury Interior Design</title>
		<meta name="keywords" content="Interior Design, Northshore, Chicago, Luxury, Timeless, Elegant, Modern">
		<meta charset="UTF-8">
		<meta name="viewport" content="height=device-height, width=device-width, minimum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700,400italic|Playfair+Display+SC' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ siteUrl }}/css/shelleyStyles.min.css" media="all" />
		<script type="text/javascript" src="{{ siteUrl }}/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="{{ siteUrl }}/js/responsive-nav.js"></script>
		<link rel="stylesheet" href="{{ siteUrl }}/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript" src="{{ siteUrl }}/js/jquery.prettyPhoto.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ siteUrl }}/js/retina.js" charset="utf-8"></script>
		<link rel="home" href="{{ siteUrl }}" />
		
		
		
	{% endblock %}
	
</head>

<body>
	
	{% block left %}
	<div id="container">
		

		<main id="content" role="main">
			
			<div class="side" id="header">
				<a href="{{ siteUrl }}" class="shelley" title="Go to Shelleydesign.com"><img src="{{ siteUrl }}/images/shelleyJohnstone_mugshot.png" alt="Shelley Johnstone" /></a>
				<a href="{{ siteUrl }}" class="logo" title="Go to Shelleydesign.com"><img src="{{ siteUrl }}/images/shelleyJohnstoneDesign_logo.gif" alt="Shelley Johnstone" /></a>
				<a href="#nav" class="nav-toggle">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
					<g>
						<path d="M46.3,23.1H1.7c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9h44.7c0.5,0,0.9-0.4,0.9-0.9C47.3,23.5,46.8,23.1,46.3,23.1z"
							/>
						<path d="M1.7,12.9h44.7c0.5,0,0.9-0.4,0.9-0.9c0-0.5-0.4-0.9-0.9-0.9H1.7c-0.5,0-0.9,0.4-0.9,0.9C0.8,12.5,1.2,12.9,1.7,12.9z"/>
						<path d="M46.3,35.1H1.7c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9h44.7c0.5,0,0.9-0.4,0.9-0.9C47.3,35.5,46.8,35.1,46.3,35.1z"
							/>
					</g>
					</svg>
				</a>
				<div role="navigation" id="foo" class="nav-collapse">
					<ul>
						<li><a href="/about" title="Learn more about Shelley Johnstone Design">About</a></li>
						<li><a href="/rooms" title="Learn about various room styles">Rooms</a></li>
						<li><a href="/now" title="What's going on with me">Now</a></li>
						<li><a href="/lifestyle" title="Learn more about lifestyle in interior design">Lifestyle</a></li>
						<li><a href="/blog" title="Shelley's Showroom"><img src="/images/blog/SideBarLogo.png"></a></li>
						<li><a href="/details" title="View package details">Details</a></li>
						<li><a href="/press" title="View my work in varioius press releases">Press</a></li>
						


						<li><a class="round" href="contact" title="Contact Shelley Johnstone">Contact Me</a></li>
						<li>
							<a class="social" href="https://www.pinterest.com/shellkaredesign" title="Follow my work on Pinterest" target="_blank">
								<svg enable-background="new 0 0 512 512" id="pinterest" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="pinterest"><path d="M254.5,16.5c-131.996,0-239,107.004-239,239s107.004,239,239,239s239-107.004,239-239   S386.496,16.5,254.5,16.5z M412.892,413.892C370.584,456.2,314.333,479.5,254.5,479.5c-59.833,0-116.084-23.3-158.392-65.608   C53.8,371.584,30.5,315.333,30.5,255.5c0-59.833,23.3-116.084,65.608-158.392C138.416,54.8,194.667,31.5,254.5,31.5   c59.833,0,116.084,23.3,158.392,65.608C455.2,139.416,478.5,195.667,478.5,255.5C478.5,315.333,455.2,371.584,412.892,413.892z" /><path d="M260.292,145.567c-67.37,0-101.343,48.299-101.343,88.584c0,24.387,9.233,46.082,29.034,54.16   c3.248,1.339,6.159,0.05,7.101-3.546c0.655-2.479,2.207-8.757,2.896-11.38c0.947-3.555,0.58-4.795-2.043-7.904   c-5.708-6.729-9.362-15.447-9.362-27.804c0-35.832,26.812-67.911,69.815-67.911c38.079,0,59,23.267,59,54.334   c0,40.89-18.095,75.399-44.952,75.399c-14.837,0-25.935-12.263-22.384-27.313c4.26-17.966,12.516-37.345,12.516-50.322   c0-11.604-6.233-21.283-19.121-21.283c-15.164,0-27.348,15.69-27.348,36.7c0,13.384,4.522,22.439,4.522,22.439   s-15.516,65.754-18.239,77.268c-5.415,22.935-0.813,51.041-0.421,53.878c0.228,1.686,2.39,2.093,3.372,0.823   c1.393-1.83,19.463-24.125,25.597-46.41c1.741-6.303,9.972-38.971,9.972-38.971c4.929,9.402,19.329,17.663,34.642,17.663   c45.576,0,76.505-41.55,76.505-97.168C350.056,184.737,314.432,145.567,260.292,145.567z" /></g></svg>
							</a>
							<a class="social" href="https://instagram.com/shelleyjohnstonedesign" title="Follow my work on Instagram" target="_blank">
								<svg enable-background="new 0 0 512 512" id="instagram" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="instagram"><path d="M254.5,16.5c-131.996,0-239,107.004-239,239s107.004,239,239,239s239-107.004,239-239   S386.496,16.5,254.5,16.5z M412.892,413.892C370.584,456.2,314.333,479.5,254.5,479.5c-59.833,0-116.084-23.3-158.392-65.608   C53.8,371.584,30.5,315.333,30.5,255.5c0-59.833,23.3-116.084,65.608-158.392C138.416,54.8,194.667,31.5,254.5,31.5   c59.833,0,116.084,23.3,158.392,65.608C455.2,139.416,478.5,195.667,478.5,255.5C478.5,315.333,455.2,371.584,412.892,413.892z" /><path clip-rule="evenodd" d="M171.864,142.5h168.008c15.961,0,28.628,12.612,28.628,28.571   v168.012c0,15.957-12.666,29.418-28.628,29.418H171.864c-15.957,0-29.364-13.46-29.364-29.418V171.071   C142.5,155.112,155.907,142.5,171.864,142.5L171.864,142.5z M307.508,167.5c-5.6,0-10.008,4.25-10.008,9.847v24.358   c0,5.597,4.408,9.795,10.008,9.795h25.548c5.6,0,10.444-4.198,10.444-9.795v-24.358c0-5.597-4.844-9.847-10.444-9.847H307.508   L307.508,167.5z M343.5,237.5h-20.053c1.879,6,2.896,12.728,2.896,19.469c0,37.596-31.458,68.107-70.259,68.107   c-38.803,0-70.257-30.53-70.257-68.126c0-6.741,1.015-13.45,2.898-19.45H167.5v95.627c0,4.944,4.51,9.373,9.451,9.373h157.402   c4.945,0,9.147-4.429,9.147-9.373V237.5L343.5,237.5z M256.084,210.6c-25.071,0-45.396,19.693-45.396,43.987   s20.325,43.987,45.396,43.987c25.073,0,45.396-19.693,45.396-43.987S281.157,210.6,256.084,210.6z" ></g></svg>
							</a>
						</li>
				</ul>
				</div>
				{% endblock %}
			</div>
			
			
				{% block right %}

			
				{% endblock %}
			

			<script>
			$(document).ready(function(){

				var iframeFocus = false;
				$(window).focus();
				jQuery('.instagram-wrapper').mouseenter(function(){
					iframeFocus = true;
				});
				jQuery('.instagram-wrapper').mouseleave(function(){
					iframeFocus = false;
				});
				$(window).blur(function () {
				if(iframeFocus === true) {
					ga('send', 'event', 'Instagram Panel', 'clicked');
					iframeFocus = false;
				} 
				});
			});
			</script>


			<script>
			var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
			</script>


			<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
				$.getScript('/js/jquery.prettyPhoto.js', function() {
					$("a[rel^='prettyPhoto']").prettyPhoto({
						changepicturecallback: function() {
							$('.pinterestButton').click(function() {
								var rootURL = '{{ siteUrl }}';
								var imageURL = $(this).parents('.pp_fade').find('#fullResImage').attr('src');
								ga('send', 'event', 'Pinterest Link', 'clicked');

								PinUtils.pinOne({ 
								'url': '{{ siteUrl }}', 
								'media': imageURL, 
								'description': 'Shelley Johnstone Design | Northshore Luxury Interior Design' 
								});
							});
						}
					});
				});
				setTimeout(function(){
					$("img").removeAttr("height");
					$("img").removeAttr("width");
				},1000);
				
			});
			</script>

			<script>
					(function($) {

					"use strict";

					// current page host
					var baseURI = window.location.host;

					// click event on body
					$("body").on("click", function(e) {
						// abandon if link already aborted or analytics is not available
						if (e.isDefaultPrevented() || typeof ga !== "function") return;
						// abandon if no active link or link within domain
						var link = $(e.target).closest("a");
						if (link.length != 1 || baseURI == link[0].host) return;
						// cancel event and record outbound link
						e.preventDefault();
						var href = link[0].href;
						var target = link[0].target;
						ga('send', {
						'hitType': 'event',
						'eventCategory': 'outbound',
						'eventAction': 'link',
						'eventLabel': href,
						'hitCallback': loadPage
						});

						// redirect after one second if recording takes too long
						setTimeout(loadPage, 1000);

						// redirect to outbound page
						function loadPage() {

							if(target == "_blank") {
								window.open(href,'_blank');
							} 

							else{
								document.location = href;
							}


						}

					});

					})(jQuery); // pass another library here if required
			
			</script>
			
			<script src="//assets.pinterest.com/js/pinit.js"
			type="text/javascript" async defer
			data-pin-hover="false"></script>
			
			
			
		</main>

		
	</div>
</body>
</html>