{# --------------- About --------------- #}

{% extends "_layout" %}
{% set title = " - " ~ entry.title %}
{% set description = entry.description %}

{% block right %}
	{{ parent() }}
	
	<div id="right" class="side interior">

		<h1>{{ entry.title }}</h1>
			<div>			
				<p style="margin-bottom:2%;"><img src="{{ entry.images[0].url }}"  alt="Shellkare" /><strong class="subtitle">{{ entry.subheader }}</strong></p>
				{{ entry.body}}
			</div>
			
	</div>
{% endblock %}

