{# --------------- Contact --------------- #}

{% extends "_layout" %}
{% set title = " - " ~ entry.title %}
{% set description = entry.description %}

{% block right %}
	{{ parent() }}
	
	<div id="right" class="side interior contact">

        <h1>{{ entry.title }}</h1>

        <h2>{{ entry.subheader }}</h2>
        {{ entry.body }}
        <p><a class="standaloneLink" href="mailto:{{ entry.emailAddress }}" title="Email Shelley Johnstone Design">{{ entry.emailAddress }}</a></p>

            
    </div>
{% endblock %}

