{# --------------- Index --------------- #}

{% extends "_layout" %}
{% set description = entry.description %}

{% block right %}
	{{ parent() }}
	{% set entries = craft.entries.section('homepageGrid') %}

	<div id="right" class="side grid">

		{% for entry in entries %}
		
			{% if entry | length %}

						{% if entry.images | length > 1 %}
							<div>
								<a href="{{ entry.imageLink }}" style="background-image: url({{ entry.images[0].url }})" title="{{ entry.caption }}" > <img src="{{ entry.images[1].url }}"></a>
							</div>
						

						{% else %}

							{% for image in entry.images %}
									<div>
										<a href="{{ entry.imageLink }}" style="background-image: url({{ image.url }})" title="{{ entry.caption }}" >{{ entry.title }}<span>VIEW</span></a>
									</div>

							{% endfor %}

						{% endif %}
			
			{% endif %}

		{% endfor %}
		
		<div class="instagram-wrapper"> <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/0eec8d28a23d50b4ac3fa2d3d61d033f.html" id="lightwidget_0eec8d28a2" name="lightwidget_0eec8d28a2"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe></div>
					
	</div>

{% endblock %}