{# --------------- Lifestyle --------------- #}

{% extends "_layout" %}
{% set title = " - " ~ entry.title %}
{% set description = entry.description %}

{% block right %}
	{{ parent() }}
  {% set entries = craft.entries.section('lifestyleGrid') %}
	
	<div id="right" class="side interior">

    <h1>{{ entry.title }}</h1>

    <ul class="gallery">
        {% for entry in entries %}

          {% if entry | length %}
            
              {% for image in entry.images %}
                <li>
                  <a href="{{ entry.imageLink }}" style="background-image: url({{ image.url }})"></a>    
                </li>
              {% endfor %}

          {% endif %}

			{% endfor %}
    </ul>
       
  </div>
{% endblock %}

