{# --------------- Now --------------- #}

{% extends "_layout" %}
{% set title = " - " ~ entry.title %}
{% set description = entry.description %}

{% block right %}
	{{ parent() }}
	{% set entries = craft.entries.section('nowGrid') %}

	<div id="right" class="side interior">

	<h1>{{ entry.title }}</h1>

    <div>

		{% for entry in entries %}

				{% if entry | length %}
					{{ entry.body }}
					{% for image in entry.images %}
						<img src="{{ image.url }}" alt="{{ entry.altTag }}" />
					{% endfor %}

				{% endif %}

			{% endfor %}

    </div>
    <div class="clear divider"></div>
    <div>

        <p style="font-size: 18px;">Visit my Entrance Hall space in The Lake Forest Showhouse. <br />
        <a class="standaloneLink" style="font-size: 18px;" href="http://www.lakeforestshowhouse.com/" title="Visit the Lake Forest Show House site" target="_blank">VISIT lakeforestshowhouse.com</a></p>
    </div>
    
	</div>
{% endblock %}

