{# --------------- Press --------------- #}

{% extends "_layout" %}
{% set title = " - " ~ entry.title %}
{% set description = entry.description %}

{% block right %}
	{{ parent() }}
	{% set entries = craft.entries.section('pressGrid') %}

	<div id="right" class="side interior">
		<h1>{{ entry.title }}</h1>

		<ul class="gallery press">
			
            {% for entry in entries %}
                {% set pdfs = entry.images.kind('pdf') %}
                {% set image = entry.images.first() %}
                {% set pdf = entry.images.last() %}

               {% if entry | length %}
                                {% if pdfs | length %}
                                        <li>
                                            <a href="{{ pdf.url }}" title="View PDF" style="background-image: url({{ image.url }})" target="_blank"><span>View PDF</span></a>
                                        </li>
                                {% else %}
                                    <li>
                                        <a href="{{ entry.imageLink }}" title="View Site" style="background-image: url({{ image.url }})" target="_blank"><span>View Site</span></a>
                                    </li>
                                {% endif %}
                
                {% endif %}

            {% endfor %}

		</ul>

     </div>

{% endblock %}
