{# --------------- Rooms --------------- #}

{% extends "_layout" %}
{% set title = " - " ~ entry.title %}
{% set description = entry.description %}

{% block right %}
	{{ parent() }}
	{% set entries = craft.entries.section('roomGrid') %}

	<div id="right" class="side interior">
		<h1>{{ entry.title }}</h1>

		<ul class="gallery">
			
			{% for entry in entries %}

				{% if entry | length %}
					
						<li>
							<a href="{{ entry.images[1].url }}" rel="prettyPhoto[details]" style="background-image: url({{ entry.images[0].url }})"></a>	
						</li>

				{% endif %}

			{% endfor %}

		</ul>

     </div>
{% endblock %}

